---
services:
  app:
    container_name: '{{ gorush_cont_name }}'
    image: '{{ gorush_cont_image }}'
    restart: 'always'
    ports:
      - '{{ gorush_cont_port }}:{{ gorush_cont_port }}/tcp'
    volumes:
      - '{{ gorush_cont_vol }}/conf:/conf'
    command: |
      --config=/conf/config.yml
    healthcheck:
      test: ["CMD-SHELL", "wget --spider http://0.0.0.0:{{ gorush_cont_port }}/healthz"]
      interval: '{{ gorush_healthcheck_interval }}'
      timeout: '{{ gorush_healthcheck_timeout }}'
      retries: {{ gorush_healthcheck_retries }}
      start_period: '{{ gorush_healthcheck_start_period }}'
